.visually-hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.reveal a {
  text-decoration: underline;
}

.reveal .small {
  font-size: 67%;
}

.reveal .hljs {
  white-space: pre;
  word-wrap: break-word;
  background: #171717;
}

.reveal .hljs.center {
  text-align: center;
}

.reveal .decorative-images {
  display: flex;
  background: white;
  border: 3px solid #333;
  justify-content: center;
  align-items: center;
}

.reveal .decorative-images > img {
  border: 0;
  box-shadow: none;
  padding: 5px;
  height: 40px;
}

.reveal .decorative-images span {
  display: inline-block;
  padding: 5px;
}

.reveal .wordmark {
  background: #522D80;
  padding: 1em;
  height: 100px;
}

.reveal .example-table {
  width: 400px;
}
