.visually-hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.reveal a {
  text-decoration: underline;
}

.reveal .small {
  font-size: 67%;
}

.reveal .hljs {
  white-space: pre;
  word-wrap: break-word;
  background: #171717;
}

.reveal .hljs.center {
  text-align: center;
}
